{"coord":{"lon":-0.13,"lat":50.96},"weather":[{"id":500,"main":"Rain","description":"light rain","icon":"10d"}],"base":"stations","main":{"temp":14.49,"feels_like":8.96,"temp_min":11.67,"temp_max":16.67,"pressure":1022,"humidity":71},"visibility":10000,"wind":{"speed":7.7,"deg":240},"rain":{"3h":0.12},"clouds":{"all":12},"dt":1586195988,"sys":{"type":1,"id":1395,"country":"GB","sunrise":1586150658,"sunset":1586198456},"timezone":3600,"id":2654308,"name":"Burgess Hill","cod":200}